{% extends 'base.html' %}
{% block body %}

<div class="container">
    <header>
        <h1>Active Users</h1>
        <a href="{{ url_for('views.home') }}" class="btn btn-outline-primary">⇐ Back</a>
    </header>

    <main>
        <div class="search-bar">
            <form method="post" action ="">
                <input type="text" name="search" placeholder="Name or email address..." value="{{ search_query if search_query else '' }}">
                <button type="submit" class="btn btn-primary">Search</button>
                <a href="" class="btn btn-secondary">Clear</a>
            </form>
        </div>
            <div class="user-list">
            {% for user in users %}
                <div class="user">
                    <div class="user-info">
                        <h2><a href="{{ url_for('views.view_user', id=user.id) }}">{{ user.first_name + ' ' + user.last_name }}</a></h2>
                        <p class="timestamp">Created: {{ user.created_at }}</p>
                    </div>
                    <div class="user-actions">
                        <a href="{{ url_for('views.view_user', id=user.id) }}" class="btn btn-primary">View</a>
                    </div>
                </div>
            {% endfor %}
            </div>
    </main>
</div>

{% endblock %}